<%- include("header.ejs") %>
<main>
    <section class="title">
        <h1 class="title-value"><%- blogArt.title %></h1>
        <h2><%-  data.titleContent %></h2>
   </section>
   <section class="container">

    </section>
</main>
<%- include("footer.ejs") %>