<footer>
    <div class="mainfooter">
        <div class="logo-info">
            <div class="logo">
                <i class="fa-regular fa-note-sticky"></i><h1 class="title-logo"><%-  data.logo %></h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
         Rerum unde quaerat eveniet cumque accusamus atque qui error quo enim fugiat?</p>
        </div>
     <div class="links">
         <% for(let i=0;i<links.length;i++){%>
             <div class="link">
                 <h3 class="link-title"><%= links[i].title %></h3>
                 <ul>
                     <%   for(let j=0;j<links[i].links.length;j++){%>
                         <li><a href="#"><%= links[i].links[j] %></a></li>
                         <%  }%>
                 </ul>
             </div>
             <%  }%>
     </div>
    </div>
    <p class="copyright">Copyright © <%= new Date().getFullYear() %> - All Right Reserved.</p>
</footer>