<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="css/fontello.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/236e28bd84.js" crossorigin="anonymous"></script>
<script src="../app.js" defer></script>
<title>Blog app</title>
</head>
<body>
   <header>
        <div class="logo">
            <i class="fa-regular fa-note-sticky"></i><h1 class="title-logo"><%-  data.logo %></h1>
        </div>
        <div class="login">
            <button class="btn login">Admin login<i class="fa-solid fa-arrow-right-to-bracket"></i></button>
        </div>
   </header>
   <main>
       <section class="title">
            <h1 class="title-value">Your own <span>blogging</span> <br>platform.</br></h1>
            <p><%-  data.titleContent %></p>
            <form class="blogs">
                <input type="text" name="search" placeholder="Search for blogs" required>
                <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
       </section>
       <section class="container">
            <div class="category">
                <% for(let i=0;i<data.items.length;i++){%>
                    <div class="cat">
                        <button class="btn <%= i===0 ? 'active' : '' %>"><%=data.items[i]%></button>
                    </div>
                    <%  }%>
                <div class="cat">
                    <button class="btn"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
            <div class="articles">
                <div class="article">
                    <img src="images/lif1.jpg" alt="life1">
                    <span>Lifestyle</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/start.jpg" alt="start">
                    <span>Startup</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/tech.jpg" alt="tech">
                    <span>Technology</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/tech1.jpg" alt="tech1">
                    <span>Technology</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/lif2.jpg" alt="life2">
                    <span>Lifestyle</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/start2.jpg" alt="start2">
                    <span>Startup</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/finance.jpg" alt="finance">
                    <span>Finance</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/start3.jpg" alt="start3">
                    <span>Startup</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/life3.jpg" alt="life3">
                    <span>Lifestyle</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
                <div class="article">
                    <img src="images/tech2.jpg" alt="tech2">
                    <span>Technology</span>
                    <div class="desc">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
            </div>
       </section>
       <section class="newsletter">
            <h1></h1>
            <p></p>
            <form action="">
                <input type="text" name="newsletter" placeholder="Enter your valid email id" required>
                <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i>Subscribe</button>
            </form>
        </section>
   </main>
   <footer>

   </footer>
</body>
</html>