<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Blog app</title>
</head>
<body>
   <header>
        <div class="logo">
            <i class="fa-regular fa-note-sticky"></i>
        </div>
   </header>
   <main>
       <section class="title">

       </section>
       <section class="container">

       </section>
   </main>
   <footer>

   </footer>
</body>
</html>