@font-face{
    font-family:'digital-clock-font';
    src: url('digital-dream\DIGITALDREAM.ttf');
   }
:root{
/*Colors*/
--hue-color:206;
--black-color: hsl(var(--hue-color),4%,4%);
--body-color: hsl(var(--hue-color),4%,6%);
--search-color: hsl(var(--hue-color),4%,10%);
--white-color:#fff;
--text-color: hsl(var(--hue-color),4%,75%);
--text-gradient: linear-gradient(hsl(var(--hue-color),4%,24%),hsl(var(--hue-color),4%,8%));
--text-color-light: hsl(var(--hue-color),4%,65%);
/*fonts*/
--body-font:'digital-clock-font';
--body-font-s:'sans-serif';
--font-size: 1.25rem;
--line-height: 1.5;
 /*font-weight*/
 --font-m: 700;
  /*letter spacing*/
  --letter-1:1px;
   /*z-index*/
    --z-index: 1000;
    /*tansition*/
    --tran-03-all:  0.3s ease all;
    --tran-03:  0.3s ease ;
    --tran-015:  0.15s ease;
    --tran-05:  0.5s  ease-in-out ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family:'digital-clock-font';
   font-size: var(--font-size);
   line-height: var(--line-height);
  
}
body.white{
    --text-color:hsl(var(--hue-color),4%,8%);;
    --text-color-light:hsl(var(--hue-color),4%,16%);;
    --body-color: #fff;
    --text-gradient: linear-gradient(hsl(var(--hue-color),100%,100%),hsl(var(--hue-color),4%,4%));
    --conteiner-color: hsl(var(--hue-color),10%,95%);
    --black-color:hsl(var(--hue-color),10%,85%);
    --white-color: #000;
}
#header{
    height: 50px;
    width: 100%;
    background: var(--black-color);
    position: fixed;
    transition:  var(--tran-05);
    opacity: 1;
    display: flex;
    align-items: center;
 justify-content: space-between;
 
    /* padding: 7px 14px; */
    /* outline: 1px solid red; */
}
#sidebar{
    height: 100%;
    width: 78px;
    background: var(--black-color);
    position:fixed;
    top: 50px;
    left: 0;
    padding: 7px 14px;
    transition: .3s ease;
}
#sidebar.active{
    width: 240px;
    transition: .3s ease;
}
#header .logo_content{
   position: relative;
   margin-left: 80px;
}
#header .logo_content .logo{
    color: var(--white-color);
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 10px;
    opacity: 1;
    pointer-events: none;
    transition: var(--tran-03-all);
}
/* #header.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
} */
.logo_content .logo i{
    font-size: 1.5rem;
    text-shadow: 0px 5px 10px rgb(189, 190, 201);
    text-shadow: 1px 4px 8px rgb(0, 255, 255);
}
.logo_content .logo .logo_name{
    font-size: 1.75rem;
    font-weight: 800;
    text-decoration: none;
    color: var(--text-color);
    font-weight: var(--font-m);
    letter-spacing: var(--letter-1);
    font-family: var(--body-font-s);
    /* background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}
#header .bars{
    position: absolute;
    height: 40px;
    width: 30px;
    left: 25px;
    text-align: center;
    /* top: 8px; */
   /* transform: translateX(-50%); */
    text-align: center;
    cursor: pointer;
    /* outline: 1px solid blue; */
}
/* search bar*/
#header .search{
  height: 100%;
    display: flex;
    align-items: center;
  margin: 0 auto;
  position: relative; 
  width: 100%; 
  max-width: 500px;
}
#header .search input{
    border-radius: 12px;
    outline: none;
    border: none;
    height: 70%;
    background: #fff;
    font-size: 1rem;
    padding-left: 50px;
    width: 100%;
    max-width: 500px;
}
#header .search input:focus::placeholder{
    opacity: 0;
}
.search input:focus ~ i {
    color: rgb(0, 255, 255);
    transition: color .1s;
}
#header .search input:focus + .fa-magnifying-glass{
    color: rgb(0, 255, 255);
    
}
#header .search input:focus{
    color: rgb(0, 255, 255);
    outline-color:rgb(0, 255, 255);
    box-shadow: -3px -3px 25px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
}
/* #header .search input:focus~label{
    top: 10%;
     background: var(--black-color); 
    font-size: 1rem;
    z-index: var(--z-index);
    color: var(--white-color);
    padding: 0 5px;
} */
#header .search label{
    position: absolute;
    color: #000;
    left: 50px;
    transform: translateY(-50%);
    top: 50%;
    pointer-events: none;
    font-size: 1.2rem;
    transition: var(--tran-03-all);
    /* padding: 0 5px; */
}
#header .search .fa-magnifying-glass{
    color: #000;
    position: absolute;
    cursor: pointer;
    font-size: var(--font-size);
    line-height: 50px;
    text-align: center;
    min-width: 50px;
}
/*sidebar*/
#sidebar .link_name{
    opacity: 0;
    pointer-events: none;
    transition: var(--tran-03-all);
}
#sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}
#sidebar ul{
    margin-top: 20px;
}
#sidebar ul li{
    position: relative;
list-style: none;
width: 100%;
height: 60px;
line-height: 50px;

}
#sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    left: 132px;
    top: 0;
    transform:  translate(-50%, -50%);
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0 , 0.2);
    border-radius: 6px;
    line-height: 35px;;
    text-align: center;
    transition: 0.1s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
#sidebar.active ul li .tooltip{
    display: none;
}
#sidebar ul li:hover .tooltip{
    top: 50%;
    transition: .5s ease;
    opacity: 1;
}
#sidebar ul li input{
    position: absolute;
    height: 90%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: var(--search-color);
    padding-left: 50px;
    color: var(--white-color);
    font-size: 1rem;
}

#sidebar ul li input:focus{
    color: rgb(0, 255, 255);
    outline-color:rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
}
#sidebar ul li input:focus::placeholder{
    color: rgb(0, 255, 255);
    transition: color.1s;
    opacity: 0;
}
#sidebar ul li input:focus + .fa-magnifying-glass {
    color: rgb(0, 255, 255);
    transition: color .1s;
}
#sidebar ul li .fa-magnifying-glass{
    position: absolute;
    color: var(--white-color);
    z-index: 100;
    transition: var(--tran-03-all);
    font-size: var(--font-size);
    cursor: pointer;
}
#sidebar ul li .fa-magnifying-glass:hover{
    cursor: pointer;
    color: rgb(0, 255, 255);
    background: var(--white-color);
}
#sidebar ul li a{
text-decoration: none;
color: var(--white-color);
display: flex;
align-items: center;
transition: all .4s ease;
border-radius: 12px;
white-space: nowrap;
}
#sidebar ul li a:hover{
    color: var(--black-color);
    background: #fff;
}
#sidebar ul li  i{
    min-width: 50px;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 1rem;
    text-align: center;
}
/*bars clicked*/
.bars span{
    height: 3px;
    background: #dbdce4;
    width: 100%;
    border-radius: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: var(--tran-015);
    top: 50%;
}
.bars span:nth-child(1){
    top: 25%;
   
}
.bars span:nth-child(3){
    top: 75%;
}
.bars.active span:nth-child(2){
    opacity: 0;
 }
 /*main conteinaer*/
 .main{
    position: absolute;
    height: 100%;
   left:78px;
   top: 50px;
   width: calc(100% - 78px);
  height: 1600px;
    transition: var(--tran-03-all);
}
 #sidebar.active ~ .main{
    width: calc(100% - 240px);
    left: 240px;
 }

 .main .text{
     font-size: 2rem;
     font-weight: 800;
     color: var(--body-color);
     margin: 10px;
 }
 .bars.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
 }
.bars.active span:nth-child(2){
   opacity: 0;
}
.bars.active span:nth-child(3){
    top: 50%;
    background: rgb(0, 255, 255);
    transform: translate(-50%, -50%) rotate(-45deg);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    
}
.activeMenu{
    border: 1px solid rgb(0,255, 255);
    background: var(--white-color);
    color: var(--black-color)!important;
}

/*mode-content*/
.mode-content{
    margin-right: 10px;
    min-width: 50px;
    position: relative;
}
.mode-content li{
    list-style: none;
}
.mode{
    display: flex;
    align-items: center;
    gap: 5px;
    background: #fff;
    width: 100%;
    min-height: 25px;
    min-width: 50px;
    padding-left: 4px;
    border-radius: 20px;
    border: 2px solid var(--text-color);
}
.mode-content .mode .moon-sun{
    color: var(--text-color);
    height: 100%;
    display: flex;
    align-items: center;
   /* width: 10%;*/
 }
 .mode-content .mode i{
    position: absolute;
    transition: var(--tran-03-all); 
    font-size: 1rem;
    cursor: pointer;
}
.mode-content .mode i.sun{
    opacity: 0;
}
/*white mode*/
body.white  .mode-content .mode i{
    left: 24px;
}
body.white .mode-content .mode i.sun{
    opacity:1;
}
body.white .mode-content .mode i.moon{
    opacity: 0;
}

/* .mode .toggle-sw{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: var(--tran-03);
    min-width: 60px;
    width: 40%;
} */
/* .toggle-sw .sw{
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    transition: var(--tran-03);
    background: var(--text-color);
    height: 22px;
    width: 40px;
    border: 1px solid var(--text-color-light);
}
.sw::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--white-color);
    border-radius: 50%;
    transform: translateY(50%);
    top: -5px;
    left: 3px;
    transition: var(--tran-03);
} */
body.white .sw::before{
    left: 24px;
}
.container{
    position: relative;
}
