:root{
/*Colors*/
--hue-color:206;
--black-color: ;
--body-color: hsl(var(--hue-color),4%,6%);;
--body-font:'digital-clock-font';
/*fonts*/
--font-size: 2rem;
--line-height: 1.5;
 /*font-weight*/



  /*letter spaciong*/



   /*z-index*/
    --z-index: 1000;


    /*tansition*/
    --tran-03-all:  0.3s ease all;
    --tran-03:  0.3s ease ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:'digital-clock-font';
    src: url('/digital-dream/DIGITALDREAM.ttf');
   }
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
   font-family: var(--body-font);
   font-size: var(--body-font-size);
   line-height: var(--body-line-height);
  
}
#header{
    width: 100%;
    display: flex;
    background: #fff;
    margin: auto;
    align-items: center;
}
.bars{
    position: relative;
    height: 50px;
    width: 50px;
    margin: 10px;
    text-align: center;
}
.bars span{
    height: 5px;
    background: #6f86ff;
    width: 100%;
    border-radius: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: var(--tran-03);
    top: 50%;
}
.bars span:nth-child(1){
    top: 25%;
}
.bars span:nth-child(3){
    top: 75%;
}
.bars.active span:nth-child(2){
    opacity: 0;
 }