*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --black: #070709;
    --white: #fff;
    --title: #5044e5;
    --bg: var(--white);
    --fg: var(--black);
    --font-s: 12px;
    --font-m: 16px;
    --font-h: 20px;
}
@media (prefers-color-scheme: dark) {
    :root {
      --bg: var(--black);
      --fg: var(--white);
    }
  }
body{
    background: linear-gradient(
        135deg,
        #ffffff 0%,        
        #fafafa 15%,       
        #f5f5f5 30%,      
        #eee8f8 45%,       
        #e8e0f5 60%,      
        #f5f5f5 75%,     
        #f0edf7 80%,  
        #fafafa 90%,     
        #ffffff 100%
      );
      background-size: 200% 200%;
      animation: gradientMove 10s ease infinite;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}
@keyframes gradientMove {
    0%   { background-position: 0% 0%; }
    50%  { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 5rem;
}
.logo i{
    background: linear-gradient(90deg,#521ff7, #AE76F0, #8326F0); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
background-clip: text;
    transform: rotate(180deg);
    font-size: 2rem;
    position: relative;
}
.logo i::after{
    content: '';
    position: absolute;
    width: .2rem;
    height: calc(100% + 1rem);
    left: -10px;
    top: -.5rem;
    z-index: 1;
    background: linear-gradient(90deg,var(--black), #AE76F0, var(--black)); 
  
}
.title-logo{
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #787e96;
    letter-spacing: .25rem;
   overflow: hidden;
   animation: load .75s steps(9) forwards;
}
.title-logo::before{
content: 'QuickBlog';
position: absolute;
left: 0;
top: 0;
width: 0%;
background: linear-gradient(90deg,#8326F0, #AE76F0, #521ff7); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;   
white-space: nowrap;
/* border-right: 2px solid #311144; */
overflow: hidden;
animation: load 1s steps(9) forwards;
}

@keyframes load {
    from{
        width: 0ch;
    }
   to{
        width: 12ch;
    }     
}
header{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.login{
    margin-right: 2rem;
}
.login button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .75rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background: linear-gradient(to right, transparent, #8326F0);
  transition: all .3s;
    box-shadow:  -2px -2px 5px rgba(255,255,255,0.2),
     2px 2px 5px rgba(0,0,0,0.6),
    0 0 12px rgba(207, 210, 218, 0.8);
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--black);
    text-shadow: 0 0px 16px #fff;
}
.login button i{
    color: var(--white);
}
.login button:hover{
    box-shadow: inset -2px -2px 5px rgba(255,255,255,0.2),
    inset 2px 2px 5px rgba(0,0,0,0.6),
    0 0 12px rgba(207, 210, 218, 0.8);
color: var(--white);
background: linear-gradient(to right, #8326F0, transparent);
i{
    color: var(--black);
}
}
.title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
    gap: 2rem;
    .title-value{
        font-size: 3.5rem;
        letter-spacing: 1.5px;
        font-weight: 600;
        color: #383838;
    }
    .title-value span{
        background: linear-gradient(90deg,#8326F0, #AE76F0, var(--title)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    p{
        letter-spacing: 1px;
        font-size: 1rem;
        color: #696969;
    }
}
