*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --white: #fff;
    --black: #000;
    --green: rgb(13, 88, 57);
}
body{
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    display: grid;
    place-items: center;
    align-content: center;
    gap: 2rem;
    height: 100vh;
    background:linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%);
}
.player{
    min-width: 600px;
}
.players{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    & .x,.o{
        border-left: 2px solid var(--white);
        border-right: 2px solid var(--white);
        border-top: 2px solid var(--white);
        border-radius: .5rem;
        width: 200px;
        padding: 0 1rem;
        cursor:pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    &:hover{
        border-left: 2px solid var(--green);
        border-right: 2px solid var(--green);
        border-top: 2px solid var(--green);
        color: var(--white);
    }
    }
}

.title{
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: 4px 4px 6px rgb(221, 221, 223);
    & span{
        color: var(--white);
        text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
    }
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & div{
        width: 150px;
        height: 150px;
        cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    }
    & div:nth-child(2),
    div:nth-child(5){
        animation: borderMix 1s ease forwards;
    }
   &
    div:nth-child(8) {
        animation: borderSlide2 1s ease forwards;
    }
    & div:nth-child(1), 
    div:nth-child(3),
    div:nth-child(4),
    div:nth-child(6){
        animation: borderSlide 1s ease forwards;
    }
}

@keyframes borderSlide {
    0% {
      border-bottom: 0 solid transparent;
    }
    100% {
  
      border-bottom: .5rem solid #5a9175;
    }
  }
  @keyframes borderSlide2 {
    0% {
      border-left: 0 solid transparent; 
         border-right: 0 solid transparent; 
    }
    100% {
        border-left: .5rem solid #5a9175; 
        border-right: .5rem solid #5a9175; 
    
    }
  }
  @keyframes borderMix {
    0% {
      border-bottom: 0 solid transparent;
      border-left: 0 solid transparent; 
         border-right: 0 solid transparent; 
    }
    100% {
        border-bottom: .5rem solid #5a9175;
        border-left: .5rem solid #5a9175; 
        border-right: .5rem solid #5a9175; 
    
    }
  }

 .active{
    border-left: 2px solid var(--black)!important;
    border-right: 2px solid var(--black)!important;
    border-top: 2px solid var(--black)!important;
    border-bottom: 2px solid var(--white)!important;
    color: var(--white);
 }
 .reset{
     margin-top: 2rem;
     padding: 1rem ;
     border-radius: 1rem;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     font-size: 1.5rem;
     outline: none;
   //  border-image:  linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%);
   border: 3px solid;
     cursor: pointer;
     display: none;
   color: var(--green);
   font-weight: 550;
   text-shadow: 4px 4px 6px rgb(221, 221, 223);
 }
 .reset:hover{
color: var(--white);
 }