*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.test{
    background: #808088;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.circle{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #808088;
    position: relative;
 
}
.circle::before{
    content: '';
    position: absolute;
    inset: -5px;
    filter: blur(1px);
    opacity: 1;
    border-radius: 50%;

    background:
        conic-gradient(
            transparent 0deg,
            transparent var(--deg),
            #121212 360deg
        );

    animation: spin 3s linear infinite;
}

.circle::after{
    content: '';

    position: absolute;
    inset: 5px;   
    background: #808088;
    border-radius: 50%;
    
}
@property --deg{
    syntax: "<angle>";
    initial-value: 360deg;
    inherits: false;
    }
    @keyframes spin {
        to{
            transform: rotate(360deg);
            --deg: 0deg;
        }
    } 