#f4f6fb


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Mukta, sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: #f9fbff;
}
#file{
    margin-bottom: 10px;
    text-decoration: none;
}
table{
 border-collapse: collapse;
 box-shadow: 0 5px 10px rgb(129, 43, 43);
 background: white;
 text-align: center;
 overflow: hidden;


 thead{
    box-shadow: 0 5px 10px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    font-weight: 800;
 }
 td{
    padding: 1rem 2rem;
    color:crimson;
 }
 td a{
     text-decoration: none;
     color: #000;
     transition: all .5s ease;
 }
 td a:hover{
    text-decoration: none;
    color: rgb(68, 64, 64);
    font-weight: bold;
}
tbody{
  
}

}
#button-tr{
    text-align: left;
}


li::marker {
    color: crimson;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.popup button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
iframe{
    border: none;
  
}

.customFilek{
            display: inline-block;
            padding: 8px 16px;
            font-size: 14px;
            background-color: #222425;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer; 
            margin-bottom: 10px;
}
#file{
    display: none;
}


#button-tr button{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background: #222425;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#button-tr button:hover{
    background: #434c50;
    color: bisque;
}
.filter-input{
    position: absolute;
    left: 88%;
    transform: translateX(-100%);
}
.testTable{
    position: relative;
}
.filter-input-label{
    position: absolute;
    left: 89%;
   
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background: #222425;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
   
}