#f4f6fb


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Mukta, sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: #f9fbff;
    margin: 0;
}
#file{
    margin-bottom: 10px;
    text-decoration: none;
}
table{
 border-collapse: collapse;
 box-shadow: 0 5px 10px rgb(129, 43, 43);
 background: white;
 text-align: center;
 overflow: hidden;


 thead{
    box-shadow: 0 5px 10px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    font-weight: 800;
 }
 th i:hover {
    color: rgb(0,255,255);
    cursor: pointer;
 }
 td{
    padding: 1rem 2rem;
    color:crimson;
 }
 td a{
     text-decoration: none;
     color: #000;
     transition: all .5s ease;
 }
 td a:hover{
    text-decoration: none;
    color: rgb(68, 64, 64);
    font-weight: bold;
}
tbody{
  
}

}
#button-tr{
    text-align: left;
}


li::marker {
    color: crimson;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.popup button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
iframe{
    border: none;
  
}

.customFilek{
            display: inline-block;
            padding: 8px 16px;
            font-size: 14px;
            background-color: #222425;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer; 
            margin-bottom: 10px;
}
#file{
    display: none;
}


#button-tr button{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background: #222425;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#button-tr button:hover{
    background: #434c50;
    color: bisque;
}
.filter-input{
    position: absolute;
    left: 88%;
    transform: translateX(-100%);
}
.testTable{
    position: relative;
}
.filter-input-label{
    position: absolute;
    left: 89%;
   
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background: #222425;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
   
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222425;
    width: 300px;
    height: 300px;
}

.circle{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}
/* .test2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
#checkbox{
    position: relative;
}
#checkbox:checked::before {
    content: "TAK";
    color: green;
    position: absolute;
    left: 20px;
}
#checkbox::before {
    content: "Nie";
    color: red;
    position: absolute;
    left: 20px;
} */


.test2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#checkbox {
    appearance: none;
    width: 50px;
    height: 26px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
}
#checkbox::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

/* Po włączeniu */
#checkbox:checked {
    background: #4caf50;
}

#checkbox:checked::after {
    left: 26px;
}
/* TEKST PRZY CHECKBOXIE */
#checkbox::before {
    content: "Nie";
    color: red;
    position: absolute;
    left: 60px; /* obok toggle */
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

#checkbox:checked::before {
    content: "TAK";
    color: green;
}





html[lang="en"] #checkbox:checked::before {
    content: "Yes";
}
html[lang="pl"] #checkbox:checked::before {
    content: "Yes";
}



html[lang="pl"] .status::before {
    content: "Nie";
}

html[lang="en"] .status::before {
    content: "No";
}
.group{
    width: 100%;
    background: #121212;
    padding: 1rem;
    border-radius: .5rem;
}

/* ukrywamy checkbox */
#check{
    display: none;
}

.group_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border: 1px solid #808080;
    border-radius: .5rem;
    padding: .5rem;
    margin-bottom:1rem;
}

.switch {
    width: 50px;
    height: 26px;
    box-shadow: inset 5px 5px 10px #8e79a7;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.switch::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    left: 2px;
    border-radius: .55rem;

    background: radial-gradient(circle at 30% 30%, 
        #ffffff 0%, 
        #f3f3f3 25%, 
        #d0d5d8 55%, 
        #b8bec2 100%
    );

    transition: 0.25s cubic-bezier(.25,.8,.25,1);

    box-shadow:
        inset 5px 5px 10px rgba(0,0,0,0.45),
        inset -5px -5px 10px rgba(255,255,255,1);
      
}


#check:checked + .group_name .switch::after {
    left: 26px;
   
}
#check:checked + .group_name .switch {
    box-shadow: inset 5px 5px 10px #fff !important;
}
/* EXPAND */
.content{
    display: none;
    overflow: hidden;
    transition: display .3s ease;
}

#check:checked ~ .content{
    display: block;
}